{% extends 'base.html.twig' %}

{% block body %}

	<div>
		<h1>
			{{ title }}
		</h1>
	</div>

	{% for link in links %}
		<p>

			<button type="button" class="btn btn-outline-dark mb-2">
				<a href={{ link.url }}>{{ link.icon}}{{ link.title }}</a>
			</button>
		</p>
	{% endfor %}
{% endblock %}
